!stl/elephant.stl
!stl/XY_resonance_test.stl
!stl/tealight_dbl_layer.stl
!stl/negative_space_tolerance_test.stl
!stl/fine_positive_features.stl
!gcode_writer/startcode.gcode
!gcode_writer/endcode.gcode

config/config.json
run.command
logs

overhang_test_stl