!stl/elephant.stl
!stl/XY_resonance_test.stl
!stl/tealight_dbl_layer.stl
!stl/negative_space_tolerance_test.stl
!stl/fine_positive_features.stl
!gcode_writer/startcode.gcode
!gcode_writer/endcode.gcode

config/config.json
*.mp5
run.command
logs

overhang_test_stl

config/config_0.mp5
config/config_1.mp5
config/config_2.mp5